/LOG
/Temp
settings.json
CR_Tools_NEW.zip
00_IPDB/ipdb_delim_ALLOSS_NEW.txt
00_IPDB/ipdb_delim_ALLOSS_OLD.txt
00_IPDB/ALL_IPDB.txt
01_SCRIPT/99_CONCEK2/sites_list_ENM-RAN4A.txt
01_SCRIPT/99_CONCEK2/sites_list_ENM-RAN2A.txt
02_DOWNLOAD/ENM-RAN2A_download.zip
02_DOWNLOAD/ENM-RAN4A_download.zip
00_IPDB/ipdb_delim_ALLOSS.txt
01_SCRIPT/99_CONCEK2/sites_list.txt
01_SCRIPT/00_CR_BACKLOG.zip
01_SCRIPT/99_CONCEK2.zip
01_SCRIPT/99_CONCEK2/sites_list.txt
01_SCRIPT/99_CONCEK2/sites_list_ENM-RAN5A.txt
01_SCRIPT/99_CONCEK2/sites_list_ENM-RAN5A.txt
/lib/__pycache__
02_DOWNLOAD/Check.xlsx
02_DOWNLOAD/ENM-RAN5A_download.zip
/lib/__pycache__
/lib/__pycache__
/03_CR_LOGS
/lib/__pycache__
lib/__pycache__/workers.cpython-311.pyc
lib/__pycache__/widgets.cpython-311.pyc
lib/__pycache__/ssh.cpython-311.pyc
lib/__pycache__/log_checker.cpython-311.pyc
lib/__pycache__/dialogs.cpython-311.pyc
query_001.txt
00_IPDB/BEFORE.xlsx
01_SCRIPT/99_Hygiene_collect/command_mos.txt
01_SCRIPT/99_Hygiene_collect/sites_list - Copy.txt
01_SCRIPT/99_Hygiene_collect/sites_list.txt
01_SCRIPT/99_Hygiene_collect/sites_list_ENM-RAN3A.txt
02_DOWNLOAD/ENM-RAN3A_download.zip
02_DOWNLOAD/MOBATCH_Check.xlsx
01_SCRIPT/99_Hygiene_collect/sites_list_ENM-RAN1A.txt
01_SCRIPT/CR_S1.zip
01_SCRIPT/CR_S1/command_mos.txt
01_SCRIPT/CR_S1/sites_list.txt
01_SCRIPT/CR_S1/sites_list_ENM_DTAC_FDD1.txt
01_SCRIPT/CR_S1/sites_list_ENM_DTAC_TDD2.txt
01_SCRIPT/99_Hygiene_collect.zip
00_IPDB/00_IPDB.zip
02_DOWNLOAD/ENM_DTAC_FDD1_download.zip
02_DOWNLOAD/ENM_DTAC_FDD2_download.zip
02_DOWNLOAD/ENM_DTAC_FDD3_download.zip
02_DOWNLOAD/ENM_DTAC_FDD4_download.zip
01_SCRIPT/CR_S1/sites_list_ENM_DTAC_FDD2.txt
01_SCRIPT/CR_S1/sites_list_ENM_DTAC_FDD3.txt
01_SCRIPT/CR_S1/sites_list_ENM_DTAC_FDD4.txt
/01_SCRIPT/CR_EXTRA
/01_SCRIPT/00_CR_ACTIVITY
/01_SCRIPT/CR_S2
02_DOWNLOAD/ENM-RAN1A_download.zip

/00_IPDB
/01_SCRIPT/CR_S3
01_SCRIPT/99_CONCHECK_DATA/command_mos.txt
01_SCRIPT/99_CONCHECK_DATA/DATA.txt
01_SCRIPT/99_CONCHECK_DATA/sites_list.txt
01_SCRIPT/99_CONCHECK_DATA/sites_list_ENM_RAN2A.txt
01_SCRIPT/99_Hygiene_collect/DATA.txt
01_SCRIPT/99_Hygiene_collect/sites_list - Copy (2).txt
01_SCRIPT/99_Hygiene_collect/sites_list_ENM_RAN2A.txt
/01_SCRIPT/98_TEST

# YoYo AI version control directory
.yoyo/

# YoYo AI version control directory
.yoyo/

# YoYo AI version control directory
.yoyo/

# YoYo AI version control directory
.yoyo/

# YoYo AI version control directory
.yoyo/

# YoYo AI version control directory
.yoyo/
/01_SCRIPT
